.dart_tool/
.packages
.flutter-plugins
.flutter-plugins-dependencies
.metadata
build/
android/.gradle/
android/app/build/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Pods/
*.iml
.idea/
.vscode/
